<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p> Web-JDBC </p>

<form action = "GetFullName"
      method = "get">
    <!-- Name text fields -->
    <p><label>Lastname</label>
        <input type = "text" name = "lastname" size = "20" />
        <label>SSN</label>
        <input type = "text" name = "ssn" size = "20" />
        </p>

    <!-- Submit and Reset buttons -->
    <p><input type = "submit" value = "Submit" />
        <input type = "reset" value = "Reset" /></p>
</form>



</body>
</html>